{% set intensivos = collections.cursos_intensivos %}
{% set grupales = collections.cursos_grupales %}
{% set individuales = collections.cursos_individuales %}

<section class="clases-grid">
	{% for post in grupales %}
		<div class="grid-item clase">
						<a href="{{ post.url}}" class="link-layer"></a>
			{% if loop.index == '1' %}
				<h2>{{ post.data.type }}</h2>
			{% endif %}
			{% image post.data.main_image, "small", post.data.title %}
			<article class="clase__inner">
				<h4 class="clase__title">{{ post.data.title }}</h4>
				<p class="clase__desc">{{ post.data.summary }}</p>
				<div class="clase__horarios">{{ post.data.horarios | markdownify | safe }}</div>
			</article>
		</div>
	{% endfor %}
	{% for post in individuales %}
		<div class="grid-item clase">
			<a href="{{ post.url}}" class="link-layer"></a>
			{% if loop.index == '1' %}
				<h2>{{ post.data.type }}</h2>
			{% endif %}
			{% image post.data.main_image, "small", post.data.title %}
			<article class="clase__inner">
				<h4 class="clase__title">{{ post.data.title }}</h4>
				<p class="clase__desc">{{ post.data.summary }}</p>
				<div class="clase__horarios">{{ post.data.horarios | markdownify | safe }}</div>
			</article>
		</div>
	{% endfor %}
	{% for post in intensivos %}
		<div class="grid-item clase">
			<a href="{{ post.url}}" class="link-layer"></a>
			{% if loop.index == '1' %}
				<h2>{{ post.data.type }}</h2>
			{% endif %}
			{% image post.data.main_image, "small", post.data.title %}
			<article class="clase__inner">
				<h4 class="clase__title">{{ post.data.title }}</h4>
				<p class="clase__desc">{{ post.data.summary }}</p>
				<div class="clase__horarios">{{ post.data.horarios | markdownify | safe }}</div>
			</article>
		</div>
	{% endfor %}
</section>
