<nav class="main-menu main-menu--inverse toc kill-link-decoration">
  <ul>
  {%- for nav in collections.menu -%}
    <li>
      <a 
        class="h1 {% if nav.url == page.url %}current{% endif %}" 
        data-bg="{{ nav.data.navtitle | lower | replace(' ', '-') }}" 
        href="{% if nav.data.anchor %}
          /#{{ nav.data.anchor }}
          {% else %}
            {{ nav.url | url }}
          {% endif %}
          "
        {% if nav.url == page.url %}
          data-current="current item"{% endif %}>
        {{ nav.data.navtitle }}
      </a>      
    </li>
  {%- endfor -%}
  </ul>
</nav>
