<nav class="main-menu toc kill-link-decoration">
  <ul>
  {%- for nav in collections.menu -%}
    <li>
      <a 
        class="h1 {% if nav.url == page.url %}current{% endif %}" 
        data-bg="{{ nav.data.navtitle | lower | replace(' ', '-') }}" 
        href="{% if nav.data.anchor %}
          /#{{ nav.data.anchor }}
          {% else %}
            {{ nav.url | url }}
          {% endif %}
          "
        {% if nav.url == page.url %}
          data-current="current item"
        {% endif %}
        {% if nav.data.anchor %}
          data-anchor="{{ nav.data.anchor }}"
        {% endif %}
        >
        {{ nav.data.navtitle }}
      </a>
    </li>
  {%- endfor -%}
    <li><a class="h1" data-anchor="contacto" href="#contacto">Contacto</a></li>
  </ul>
</nav>
