{% set postlist = collections.posts %}
<section class="grid noticias-grid">
	{% for post in postlist | reverse %}
		{% if loop.index0 > 6 %}

		{% else %}
			<article class="grid-item noticia {% if post.data.destacar %}noticia--destacada{% endif %}" {% if post.url == url %} data-current="current item"{% endif %}>
				<a href="{{ post.url | url }}" class="link-layer"></a>
				<div class="noticia__text">
					<p class="small">
						<time datetime="{{ post.date | machineDate }}">
							<small>{{ post.date | readableDate }}</small>
						</time>
					</p>
					<h3>
							{% if post.data.title %}
								{{ post.data.title }}
							{% else %}
								Untitled
							{% endif %}
					</h3>
					{# {% if post.data.summary %}
						<p>
							{{ post.data.summary }}
						</p>
					{% endif %} #}
				</div>
				{% if post.data.featured_image and post.data.destacar %}
					<div class="noticia__image">
						<img src="{{ post.data.featured_image }}" />
					</div>
				{% endif %}
			</article>
		{% endif %}
	{% endfor %}
</section>
