
<section class="grid grid--small--2col grid--medium--3col grid--large--4col noticias">
	{% for post in postslist | reverse %}
		<article class="grid-item noticia {% if post.data.featured_image %}noticia--big{% endif %}" {% if post.url == url %} data-current="current item"{% endif %}>
			<a href="{{ post.url | url }}" class="link-layer"></a>
			{% if post.data.featured_image %}
				<div class="noticia__image">
					<img src="{{ post.data.featured_image }}" />
				</div>
			{% endif %}
			<div class="noticia__text">
				<h3>
						{% if post.data.title %}
							{{ post.data.title }}
						{% else %}
							Untitled
						{% endif %}
				</h3>
				{% if post.data.summary %}
					<p>
						{{ post.data.summary }}
					</p>
				{% endif %}
				<p class="small">
					<time datetime="{{ post.date | machineDate }}">
						<small>{{ post.date | readableDate }}</small>
					</time>
				</p>
			</div>
		</article>
	{% endfor %}
</section>
