<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body class="main-wrapper bg--post">
		{# <header class="2sides__header" >
			<div class="logo">
				<a class="link--inactive" href="{{ '/' | url }}">
                    <span class="visually-hidden">{{ metadata.title }}</span>
                    <img src="/assets/img/logo_inverse.png" />
                </a>
			</div>
			{% include "components/nav.njk" %}
		</header> #}
		<div class="sides2">
			<div class="sides2__content">
				{{ layoutContent | safe}}
			</div>
			<div class="sides2__image">
				<img src="{{ featured_image }}">
			</div>
		</div>
	</body>
</html>
