<!doctype html>
<html {% if section %}class="bg--{{ section }}"{% endif %} {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="main-wrapper">
		<div class="header__wrapper">
			<div class="main-image main-image--{{ main_image_alignment }}">
				<img src="{{ main_image }}" />
			</div>
			<header class="header">
				<div class="logo">
					<a class="link--inactive" href="{{ '/' | url }}">
						<span class="visually-hidden">{{ metadata.title }}</span>
						<img src="/logo.png" />
					</a>
				</div>
				{% include "components/nav.njk" %}
			</header>
		</div>

		<main class="main-content">
			{{ layoutContent | safe }}
		</main>

	</body>

</html>
