---
layout: layouts/noticias.njk
section: noticias
permalink: /noticias/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
