---
section: clase
---
<!doctype html>
<html {% if section %}class="bg--{{ section }}"{% endif %} {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="main-wrapper clase-page">

			<div class="clase__header">
        <img src="{{ main_image }}" class="cover-img" alt="Imagen de portada">
			</div>
      
			<div class="wrapper">
				<main class="clase__content">
			        <article>
								<header>
									<h1>{{ title }}</h1>
									<p class="h2">{{ type }}</p>
									<nav>
			          		<a href="{{ '/#clases' | url }}">← Volver a clases</a>
			        		</nav>
								</header>

								<div class="clase__cols">
									<div class="clase__col1">
											{{ layoutContent | safe }}
											<h4>Horarios</h4>
											{{ horarios | markdownify | safe }}
									</div>

									<div class="clase__col2">
										{{ body2 | markdownify | safe}}
									</div>

									<div class="clase__col3">
											{{ body3 | markdownify | safe}}
									</div>
								</div>

			
			        </article>
		
				</main>
			</div>

	</body>

</html>



