<!doctype html>
<html id="home" {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body class="main-wrapper home" id="top">
		<header class="home__header" >
			<div class="rrss">
				<ul>
					{% if facebook %}
						<li>
							<a href="{{ facebook }}" target="_blank">
								<svg id="icon-facebook-with-circle" viewBox="0 0 20 20">
									<path d="M10 0.4c-5.302 0-9.6 4.298-9.6 9.6s4.298 9.6 9.6 9.6 9.6-4.298 9.6-9.6-4.298-9.6-9.6-9.6zM12.274 7.034h-1.443c-0.171 0-0.361 0.225-0.361 0.524v1.042h1.805l-0.273 1.486h-1.532v4.461h-1.703v-4.461h-1.545v-1.486h1.545v-0.874c0-1.254 0.87-2.273 2.064-2.273h1.443v1.581z"></path>
								</svg>
							</a>
						</li>
					{% endif %}
					{% if youtube %}
						<li>
							<a href="{{ youtube }}" target="_blank">
								<svg id="icon-youtube-with-circle" viewBox="0 0 20 20">
									<path d="M11.603 9.833l-2.246-1.048c-0.196-0.091-0.357 0.011-0.357 0.228v1.974c0 0.217 0.161 0.319 0.357 0.228l2.245-1.048c0.197-0.092 0.197-0.242 0.001-0.334zM10 0.4c-5.302 0-9.6 4.298-9.6 9.6s4.298 9.6 9.6 9.6 9.6-4.298 9.6-9.6-4.298-9.6-9.6-9.6zM10 13.9c-4.914 0-5-0.443-5-3.9s0.086-3.9 5-3.9 5 0.443 5 3.9-0.086 3.9-5 3.9z"></path>
								</svg>
							</a>
						</li>
					{% endif %}
					{% if instagram %}
						<li>
							<a href="{{ instagram }}" target="_blank">
								<svg id="icon-instagram-with-circle" viewBox="0 0 20 20">
									<path d="M13 10c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-0.171 0.018-0.338 0.049-0.5h-1.049v3.997c0 0.278 0.225 0.503 0.503 0.503h6.995c0.277 0 0.502-0.225 0.502-0.503v-3.997h-1.049c0.031 0.162 0.049 0.329 0.049 0.5zM10 12c1.104 0 2-0.896 2-2s-0.896-2-2-2-2 0.896-2 2 0.896 2 2 2zM12.4 7.9h1.199c0.166 0 0.301-0.135 0.301-0.3v-1.199c0-0.166-0.135-0.301-0.301-0.301h-1.199c-0.166 0-0.301 0.135-0.301 0.301v1.199c0.001 0.165 0.136 0.3 0.301 0.3zM10 0.4c-5.302 0-9.6 4.298-9.6 9.6s4.298 9.6 9.6 9.6c5.302 0 9.6-4.298 9.6-9.6s-4.298-9.6-9.6-9.6zM15 13.889c0 0.611-0.5 1.111-1.111 1.111h-7.778c-0.611 0-1.111-0.5-1.111-1.111v-7.778c0-0.611 0.5-1.111 1.111-1.111h7.778c0.611 0 1.111 0.5 1.111 1.111v7.778z"></path>
								</svg>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
			<div class="full-img" style="background-image: url('{{ front_image_1 | url }}')">
        	</div>
			<div class="logo">
				<a class="link--inactive" href="{{ '/' | url }}">
                    <span class="visually-hidden">{{ metadata.title }}</span>
                    <img src="/assets/img/logo_inverse.png" />
                </a>
			</div>
			{% include "components/nav.njk" %}
			{% for post in collections.destacadas %}
				<article class="destacada">
					<a class="link-layer" href="{{ post.url }}"> </a>
					<p class="minititle">Noticias</p>
					<h1 class="h3">{{ post.data.title }}</h1></a>
				</article>
			{% endfor %}
		</header>
		{% if video_link %}
			<section class="home__video" style="background-image: url('/public/images/santidonaire_valeria_web_-9.jpg')">
				<a class="home__video__overlay" href="{{ video_link}}" target="_blank">
					<div class="home__video__play">
						<div class="home__video__triangle"></div>
					</div>
				</a>
				<video id="videoplayer" muted autoplay loop poster="/public/images/santidonaire_valeria_web_-9.jpg" >
					<source src="/assets/img/pasta.mp4" type="video/mp4">
				</video>
			</section>
		{% endif %}
		<section  id="quiensoy" class="quiensoy m0">
			<div class="section__mitad wrapper">
				<div class="section__mitad__left quiensoy__text__wrapper">
					<article class="quiensoy__text">
						<h1>Quien Soy</h1>
						<div class="quiensoy__body__wrapper hide-scrollbar">
							<div class="quiensoy__body hide-scrollbar">
								{{ layoutContent | safe }}
							</div>
						</div>
					</article>
				</div>
				<div class="section__mitad__right">
					<img src="{{ front_image_qsoy }}" alt="" class="img-cover" />
				</div>
			</div>
			<a href="#top" class="volver">
				<svg id="icon-play-circle" viewBox="0 0 32 32">
					<path d="M0 16c0 8.837 7.163 16 16 16s16-7.163 16-16-7.163-16-16-16-16 7.163-16 16zM29 16c0 7.18-5.82 13-13 13s-13-5.82-13-13 5.82-13 13-13 13 5.82 13 13z"></path>
					<path d="M22.086 20.914l2.829-2.829-8.914-8.914-8.914 8.914 2.828 2.828 6.086-6.086z"></path>
				</svg>
			</a>
		</section>
		<div class="full-img" style="background-image: url('{{ front_image_2 | url }}')">
			<div class="full-img__shadow"></div>
		</div>
		<section id="clases" class="clases">
			<div class="wrapper">
				<h1>Clases</h1>
				{% include "components/clases.njk" %}
				<a href="#top" class="volver">
					<svg id="icon-play-circle" viewBox="0 0 32 32">
						<path d="M0 16c0 8.837 7.163 16 16 16s16-7.163 16-16-7.163-16-16-16-16 7.163-16 16zM29 16c0 7.18-5.82 13-13 13s-13-5.82-13-13 5.82-13 13-13 13 5.82 13 13z"></path>
						<path d="M22.086 20.914l2.829-2.829-8.914-8.914-8.914 8.914 2.828 2.828 6.086-6.086z"></path>
					</svg>
				</a>
			</div>
		</section>
		<div class="full-img" style="background-image: url('{{ front_image_3 | url }}')">
			<div class="full-img__shadow"></div>
		</div>
		<section class="noticias__wrapper">
			<div class="wrapper">
				<h1><a href="/noticias">Noticias</a></h1>
				{% include "components/noticias.njk" %}
				<a href="#top" class="volver">
					<svg id="icon-play-circle" viewBox="0 0 32 32">
						<path d="M0 16c0 8.837 7.163 16 16 16s16-7.163 16-16-7.163-16-16-16-16 7.163-16 16zM29 16c0 7.18-5.82 13-13 13s-13-5.82-13-13 5.82-13 13-13 13 5.82 13 13z"></path>
						<path d="M22.086 20.914l2.829-2.829-8.914-8.914-8.914 8.914 2.828 2.828 6.086-6.086z"></path>
					</svg>
				</a>
			</div>
		</section>
		<div class="full-img" style="background-image: url('{{ front_image_4 | url }}')">
			<div class="full-img__shadow"></div>
		</div>
		<section id="contacto" class="contacto">
			<div class="wrapper contacto__inner">
				<div class="contacto__form">
					<form name="contact" method="POST" data-netlify="true">
						<div class="form-item form-item--label-inside form-item--col">
							<label for="name">Tu nombre</label>
							<input type="text" name="name" /> 
						</div>
						<div class="form-item form-item--label-inside form-item--col">
							<label for="email">Tu Email:</label>
							<input type="email" name="email" />
						</div>
						<div class="form-item form-item--label-inside form-item--col">
							<label for="message">Mensaje:</label> 
							<textarea name="message"></textarea>
						</div>
						<div>
							<button type="submit">Enviar</button>
						</div>
					</form>
				</div>
				<div class="contacto__info">
					<h1>Contacto</h1>
					<p>
						Valeria Cuenca <br>
						Calle José Calvo 22, Madrid <br>
						L1 Estrecho, L7 Francos Rodríguez<br>
						+34 655 225 930<br>
						<a href="mailto:info@valeriatangomadrid.com">info@valeriatangomadrid.com</a>
					</p>
				</div>
				<div class="contacto__map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.765089554525!2d-3.710408084602813!3d40.45833597936039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4229ac01751ae3%3A0x8dac49cec8b91cfc!2sCalle+Jos%C3%A9+Calvo%2C+22%2C+28039+Madrid!5e0!3m2!1ses!2ses!4v1549297854244" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<a href="#top" class="volver">
					<svg id="icon-play-circle" viewBox="0 0 32 32">
						<path d="M0 16c0 8.837 7.163 16 16 16s16-7.163 16-16-7.163-16-16-16-16 7.163-16 16zM29 16c0 7.18-5.82 13-13 13s-13-5.82-13-13 5.82-13 13-13 13 5.82 13 13z"></path>
						<path d="M22.086 20.914l2.829-2.829-8.914-8.914-8.914 8.914 2.828 2.828 6.086-6.086z"></path>
					</svg>
				</a>
			</div>
		</section>
		<div class="full-img" style="background-image: url('{{ front_image_5 | url }}')">
			<div class="full-img__shadow"></div>
		</div>
	</body>
</html>
