<!doctype html>
<html {% if section %}class="bg--{{ section }}"{% endif %} {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="main-wrapper noticia-page">
		<div class="wrapper">
			<div class="noticia-page__header">
				<header class="header">
					<div class="logo">
						<a class="link--inactive" href="{{ '/' | url }}">
							<span class="visually-hidden">{{ metadata.title }}</span>
							<img src="/assets/img/logo_inverse.png" />
						</a>
					</div>
					{% include "components/nav.njk" %}
				</header>
			</div>
			<main class="noticia-page__content">
				{% if featured_image %}
					<div class="noticia-page__img">
						{% image featured_image, "large", title %}
					</div>
				{% endif %}
				<div class="noticia-page__inner">
					{{ layoutContent | safe }}
				</div>
			</main>
		</div>

	</body>

</html>
