<!doctype html>
<html {% if section %}class="bg--{{ section }}"{% endif %} {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="main-wrapper">
		{# <header class="noticias__header" >
			<div class="full-img" style="background-image: url('{{ '/public/images/santidonaire_valeria_web_-32-large.jpeg' | url }}')">
        	</div>
			<div class="logo">
				<a class="link--inactive" href="{{ '/' | url }}">
                    <span class="visually-hidden">{{ metadata.title }}</span>
                    <img src="/assets/img/logo.png" />
                </a>
			</div>
			{% include "components/nav--inverse.njk" %}
		</header> #}

		<main class="noticias__wrapper">
			<div class="noticias__home"><span>← </span> <a href="/">Portada</a></div>
			<div class="wrapper">
				{{ layoutContent | safe }}
				<a href="/" class="volver">
					<svg id="icon-play-circle" viewBox="0 0 32 32">
						<path d="M0 16c0 8.837 7.163 16 16 16s16-7.163 16-16-7.163-16-16-16-16 7.163-16 16zM29 16c0 7.18-5.82 13-13 13s-13-5.82-13-13 5.82-13 13-13 13 5.82 13 13z"></path>
						<path d="M22.086 20.914l2.829-2.829-8.914-8.914-8.914 8.914 2.828 2.828 6.086-6.086z"></path>
					</svg>
				</a>
			</div>
		</main>

	</body>

</html>
