---
layout: layouts/2sides.njk
section: post
---

<article>
  <nav>
    <a href="{{ '/noticias/' | url }}">← Volver a noticias</a>
    &nbsp;/&nbsp;
    <a href="{{ '/' | url }}">Portada</a>
  </nav>
  <h1>{{ title }}</h1>

  {{ layoutContent | safe }}

  {# {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %} #}

</article>
